<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf Bootstrap Example</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>student data</h1>
        <table class="table">
            <thead>
                <tr>
					<th>id</th>
                    <th>Name</th>
                    <th>age</th>
                    <th>city</th>
                    <th>marks</th>
                    <th>delete</th>
                    <th>update</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${d}">
					<td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.age}"></td>
                    <td th:text="${item.city}"></td>
                    <td th:text="${item.marks}"></td>
                     <td>
						
						<a class="btn btn-danger" th:href="@{/delete/{id} (id = ${item.id})}"
						onclick="return confirm('Are yousure?')">Delete</a>
					</td>
					<td> <a class="btn btn-danger" th:href="@{/update/{id} (id = ${item.id})}">edit</a> </a></td>
                </tr>
            </tbody>
        </table>
         <a th:href="@{/student}">Add data</a>
    </div>
</body>
</html>
